.product {
    display: flex;
}

.variants {
    display:inline-block;
}
.details {
    flex: 2;
}
.sidebar {
    display:flex;
    flex: 1;
    flex-direction: column;
    gap: 1.5rem;
    background-color: #CED0CE;
    margin-right: 5rem;
}
