.page-layout {
    display:flex;
    flex-direction: row;
    align-items: flex-start;
    position: relative;
}
.navbar{
    margin-top:2rem;
}
.services_container{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding: 20px;
    flex: 1;
    min-width: 0;
}

.service1 {
    display: flex;
    background-color: #CED0CE;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s ease;  
}
.service1:hover{
    background-color: #4A8CFF;
    transform-origin: left;
    transform: scale(1.02);
    transition: 0.5s ease;
}
.services_container img {
    width: 20%;
    height: auto;
    border-radius: 20px;
    margin-left:auto;
}

.sort_container {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    z-index: 5;
}
.sort-btn {
    display: inline-block;
    padding: 0.4rem 0.8rem;
    background: #eee;
    border: none;
    border-radius: 6px;
    cursor: pointer;
    font-weight: bold;
    margin: 0;
    top: 1rem;
    left:0;
}


.sort-menu {
    display: none;
    position: absolute;
    top:25rem;
    left: 0;

    background: white;
    padding: 1rem;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.15);
    z-index: 10;
    width: 250px;

}


.sort-menu h4 {
    margin: 0.8rem 0 0.3rem;
}
.sort-menu button {
    display: block;
    width: 100%;
    text-align: left;
    padding: 0.5rem;
    border: none;
    background: none;
    cursor: pointer;
}


.sort-menu button:hover {
    background: #f0f0f0;
}
