.page-layout {
    display:flex;
}
.navbar{
    margin-top:2rem;
}
.service_container{
    display:flex;
    flex-direction: column;
    gap:30px;
    padding: 20px;
    width:80%;
}

.service1 {
    display: flex;
    background-color: #CED0CE;
    border-radius: 10px;
    padding: 20px;
    transition: 0.5s ease;  
}
.service1:hover{
    background-color: #4A8CFF;
    transform-origin: left;
    transform: scale(1.05);
    transition: 0.5s ease;
}
.service_container img {
    width: 20%;
    height: auto;
    padding-left: 35rem;
    border-radius: 20px;
    margin-left:auto;
}
